/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Own starts here*/

html, body {
    width: 100%;
}

body {
  font-family: helvetica;
  text-align: center;
  background-color: #edd9c0;
}

#top-banner {
  font-size: 34px;
  font-weight: bold;
  text-align: center
}

table {
  margin: 0 auto;
  padding-bottom: 5px;
}

table td, table th {
  padding: 4px;
  text-align: center;
}

tr {
  font-size: 13px;
}

thead {
  border-bottom: 2px solid;
  font-weight: bold;
  font-size: 21px;
}

.header-name {
  text-align: center;
  text-decoration: underline;
  font-size: 18;
  background: grey;
  border: none;
  padding: 8px 2px;
  margin: 0 2px 4px 2px;
}


.nav-container {
  width: 350px;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-item, .new-list-button {
  font-size: 18;
  padding: 3px;
  color: white;
  background: black;
  margin: 4px 2px 0 2px;
  cursor: pointer;
}

.new-list-button {
  color: white;
  background: #4CAF50;
  font-size: 12;
  padding-top: 6px;
}

#selectedList {
  background: gray;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-items {
  padding: 10px;
}

.top-close {
  font-size: 8px;
  text-align: right;
  text-decoration: underline;
}

.popup-body {
  padding: 3px;
}

.login-box {
  position: relative;
  top: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: red;
}

.login-box-header {
  border-width: 2px;
  border-style: solid;
  border-color: green;
  padding: 10px;
  margin-bottom: 10px;
}

.login-select {
  border-style: solid;
  border-width: 3px;
  border-color: skyblue;
  display: inline;
  background-color: skyblue;
  margin: 0 6 0 6;
  padding: 3;
}

.login-click {
  align-self: center;
  width: 100px;
  border-width: 2px;
  border-style: solid;
  border-color: green;
  margin: 10px auto 0 auto;
}

#selectedLogin {
  border-color: midnightblue;
}

.centered-list ,.bottom-container {
  width: 300px;
  margin: 0 auto;
}

.add-todo-container {
  margin: 0px;
}

.add-todo {
  display: flex;
  justify-content: space-between;
  margin: 1px;
}

.add-todo-form-input {
  transition: all 0.5s ease;
  flex-grow: 1;
  border: none;
  padding-left: 20px;
}

.add-todo-form-input:focus {
  background-color: lightblue;
  outline: none;
  padding-left: 10px;
}

.add-todo-form-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 24px;
  cursor: pointer;
  outline: none;
  font-size: 10;
}

.list-item-container {
  display: flex;
  justify-content: space-between;
}

.list-item-name {
  transition: all 0.5s ease;
  flex-grow: 1;
  border: none;
  padding: 10px 5px 10px 10px;
  text-align: left;
  background-color: lightblue;
  margin: 0 2px;
  margin-top: 4px;
}

.list-item-name:hover {
  padding-left: 20px;
  font-weight: bold;
}

.list-item-delete {
  transition: all 1s ease;
  background-color: gray;
  border: none;
  color: white;
  padding: 10px 5px;
  cursor: pointer;
  font-size: 10;
  margin: 0 2px;
  margin-top: 4px;
}

.list-item-delete:hover {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 5px;
  cursor: pointer;
}

.list-header-container {
  display: flex;
  justify-content: center;
  background-color: silver;
  padding: 10px 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.list-header-name {
  padding: 0px 3px;
}

.list-header-quant {
  margin: auto 0px;
  padding: 0px 3px;
  display: table-cell;
  vertical-align: middle;
  font-size: 12;
}

.bottom-container {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
}

.delete-list-button, .share-list-button {
  transition: all 1s ease;
  width: 100%;
  text-align: center;
  padding: 2px;
  color: white;
  background: lightslategray;
  padding: 10px 5px;
}

.delete-list-button:hover, .share-list-button:hover {
  background: red;
}

.delete-list-button {
  margin-right: 2px;
}

.share-list-button {
  margin-left: 2px;
}

.submit-new-list {
  position: fixed;
  top: 60px;
  height: 80px;
  width: 240px;
  z-index: 1;
  left: 50%;
  margin: 0 0 0 -120px;
  border-style: solid;
  border-width: 4px;
  background-color: lightgray;
  padding: 5px;
}

.new-list, .share-list {
  display: flex;
  justify-content: space-between;
  margin: 1px;
}

.new-list-form-input, .share-list-form-input {
  transition: all 0.5s ease;
  flex-grow: 1;
  border: none;
  padding-left: 20px;
}

.new-list-form-input:focus, .share-list-form-input:focus {
  background-color: lightblue;
  outline: none;
  padding-left: 10px;
}

.new-list-form-button, .share-list-form-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 12px;
  cursor: pointer;
  outline: none;
  font-size: 10;
}

.username {
  display: flex;
  justify-content: space-between;
  margin: 1px;
  width: 300px;
  margin: 0 auto;
}

.username-form-input {
  flex-grow: 1;
  border: none;
}

.username-form-input:focus {
  background-color: lightblue;
  outline: none;
  padding-left: 10px;
}

.username-form-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 12px;
  cursor: pointer;
  outline: none;
  font-size: 10;