/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Own starts here*/

html, body {
    width: 100%;
}

body {
  font-family: helvetica;
  text-align: center;
}

#top-banner {
  font-size: 34px;
  font-weight: bold;
  text-align: center
}

table {
  margin: 0 auto;
  padding-bottom: 5px;
}

table td, table th {
  padding: 4px;
  text-align: center;
}

tr {
  font-size: 13px;
}

thead {
  border-bottom: 2px solid;
  font-weight: bold;
  font-size: 21px;
}

.header-name {
  padding-left: 10px;
  text-align: left;
  text-decoration: underline;
}

.item-name {
  padding-left: 15px;
  text-align: left
}

.nav-container {
  display: inline-flex;
  text-align: center;
}

.nav-bar {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.nav-item {
  flex-grow: 1;
  padding: 3px;
  color: white;
  background: black;
  margin: 3px;
}

.delete {
  font-size: 10px;
  vertical-align: middle
}

.final-cost, .final-quant, .delete-list-button, .share-list-button {
  text-align: center;
  margin-top: 5px;
  margin-right: 10px;
  padding: 2px;
  color: white;
  background: black;
  display: inline;
}

#selectedList {
  background: gray;
}

.submit-new-list {
  position: fixed;
  border-style: solid;
  border-width: 2px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-items {
 padding: 10px; 
}



